/* css styles */
main ul {
  list-style: none;
  text-indent: -2em;
}

main h2, h3 {
  font-variant: small-caps;
}

#custom-title-block-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#custom-title-block-header .author {
  font-size: 3em;
  text-align: left;
  font-variant: small-caps;
}

